.thanks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background: url("/public/Images/Mesa_de_trabajo_1300x-100.jpg");
    background-size: cover;
  }
  

.thanks-content{
    background-color: #fffffff2;
      box-shadow: 3px 3px 3px 3px rgb(203 203 203);
      margin: 30px;
      padding: 20px;
      border-radius: 15px;
      text-align: center;
  }


  @font-face {
    font-family: myfont;
    src: url('/public/Font/Bronova\ Regular.ttf');
}

.p-1-thanks{
  color: #2e4157;
  text-shadow: 4px 4px 7px #3c5571;
  font-size: 40px;
  font-weight: bold;
  font-family: "myfont";
}
.p-2-thanks{
  color: #2e4157;
  text-shadow: 4px 4px 7px #3c5571;
  font-size: 32px;
  font-family: "myfont";
}
